h3{
    font-size: 30px;
    text-decoration: underline;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.second{
    /* display: none; */
    /* visibility: none; */
}
.blog{
    margin: 20px;
    border: 10px solid tomato;
    box-shadow: 5px 5px 15px;
}
.name{
    border: 2px solid purple;
    /* display: block; */
}